.body {
	display: block;
	position: center;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: url("../images/background1.jpg");
}

.container {
	margin-top: 25px;
	opacity: .95;

}

#LandoLuck{
	height: 40%;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;

}

#start{
	height: 180px;
	width: 45%;
	font-size: 30px;
}

#stop{
	width: 45%;
	margin-bottom: 10px;
}

